.accueil {
  
    .menuAccueil {
        z-index: 9999;
    }
  .spinningVinyl {
    margin: auto;
    animation: 5s linear play infinite;
    
  }

  .vinyl {
    text-align: center;
    overflow: hidden;
  }



  @keyframes play {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
