.filter {
    .top {
        min-width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    label {
        padding: 0 5px;
    }

    select {
        padding: 0.95em;
        text-align: center;
        border: 2px solid #000;

        &:active,
        &:focus {
            outline: 3px solid #f26419 !important;
        }
    }
}
